

.container {
  max-width: 1100px;
  margin: auto;
}


.App {
  max-width: 1250px;
  margin: auto;
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  background-color:rgb(238, 235, 235);
  padding: 20px;
}

.App h1 {
  padding: 30px;
}

.App div {
  width: 250px;
}